.navBar{
    display: flex;
    flex-direction: row;
    background-color: #75BDB9;
    flex-wrap: wrap;
   align-content: center;
}

.tabs{
    display: flex;
    flex-direction: row;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: auto 0 auto auto;
    font-size: large;
}

.logo{
    height: auto; 
    width: auto; 
    max-width: 18rem; 
}